/* colors */
/* Gray */
$gray950: rgb(13, 13, 13);
$gray900: rgb(26, 26, 26);
$gray800: rgb(51, 51, 51);
$gray700: rgb(77, 77, 77);
$gray600: rgb(102, 102, 102);
$gray500: rgb(128, 128, 128);
$gray400: rgb(153, 153, 153);
$gray300: rgb(179, 179, 179);
$gray200: rgb(204, 204, 204);
$gray100: rgb(230, 230, 230);
$gray50: rgb(242, 242, 242);

/* Green */
$green950: #040D06;
$green900: #14401D;
$green800: #216630;
$green700: #2E8C43;
$green600: #3DB257;
$green500: #4DDA6C;
$green400: #69E084;
$green300: #89E89E;
$green200: #AAF0B9;
$green100: #D9FAE1;
$green50: #F2FFF5;

/* Blue */
$blue950: #04090D;
$blue900: #153047;
$blue800: #234F75;
$blue700: #316EA3;
$blue600: #3F8DD1;
$blue500: #4CACFF;
$blue400: #6EBBFF;
$blue300: #8FCBFF;
$blue200: #B0DAFF;
$blue100: #D9EEFF;
$blue50: #F2F9FF;

/* Red */
$red950: #0D0404;
$red900: #471515;
$red800: #752323;
$red700: #A33131;
$red600: #D13F3F;
$red500: #FF4C4C;
$red400: #FF6E6E;
$red300: #FF8F8F;
$red200: #FFB0B0;
$red100: #FFD9D9;
$red50: #FFF2F2;

/* White Alpha */
$white950: #FFFFFF;
$white900: #FFFFFFe6;
$white800: #FFFFFFcf;
$white700: #FFFFFFb5;
$white600: #FFFFFF9e;
$white500: #FFFFFF85;
$white400: #FFFFFF6e;
$white300: #FFFFFF54;
$white200: #FFFFFF3d;
$white100: #FFFFFF26;
$white50: rgba(255, 255, 255, 0.05);

/* Black Alpha */
$black950: #000000;
$black900: #000000e6;
$black800: #000000cf;
$black700: #000000b5;
$black600: #0000009e;
$black500: #00000085;
$black400: #0000006e;
$black300: #00000054;
$black200: #0000003d;
$black100: #00000026;
$black50: rgba(0, 0, 0, 0.05);

/* Green Alpha */
$greenA950: #4DDA6E;
$greenA900: #4DDA6Ee6;
$greenA800: #4DDA6Ecf;
$greenA700: #4DDA6Eb5;
$greenA600: #4DDA6E9e;
$greenA500: #4DDA6E85;
$greenA400: #4DDA6E6e;
$greenA300: #4DDA6E54;
$greenA200: #4DDA6E3d;
$greenA100: #4DDA6E26;
$greenA50: rgba(77, 218, 110, 0.05);

/* Red Alpha*/
$redA950: #FF4C4C;
$redA900: #FF4C4Ce6;
$redA800: #FF4C4Ccf;
$redA700: #FF4C4Cb5;
$redA600: #FF4C4C9e;
$redA500: #FF4C4C85;
$redA400: #FF4C4C6e;
$redA300: #FF4C4C54;
$redA200: #FF4C4C3d;
$redA100: #FF4C4C26;
$redA50: rgba(255, 76, 76, 0.05);

/* Blue Alpha*/
$blueA950: #4CACFF;
$blueA900: #4CACFFe6;
$blueA800: #4CACFFcf;
$blueA700: #4CACFFb5;
$blueA600: #4CACFF9e;
$blueA500: #4CACFF85;
$blueA400: #4CACFF6e;
$blueA300: #4CACFF54;
$blueA200: #4CACFF3d;
$blueA100: #4CACFF26;
$blueA50: rgba(76, 172, 255, 0.05);
